header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 10vh;
}

.rich-black {
  background: rgb(24, 58, 55);
  color: white;
}

.dark-purple {
  background: rgb(67, 37, 52);
  color: white;
}

.mahogany {
  background: rgb(196, 73, 0);
  color: white;
}
